
/* Your CSS Code here. */

body {
      font-family: Arial, sans-serif;
      padding: 30px;
    }

    table {
      width: auto;
      border-collapse: collapse;
    }

    thead th {
      background-color: #b83d3d;
      color: white;
      padding: 10px 15px;
      border: 1px solid #000;
    }

    tbody td {
      padding: 10px 15px;
      border: 1px solid #000;
      text-align: center;
    }

    tbody tr:nth-child(1) td {
      background-color: #e79e9e;
    }

    tbody tr:nth-child(2) td {
      background-color: #e2cfcf;
    }

    tbody tr:nth-child(3) td {
      background-color: #dddddd;
    }

    td:first-child {
      font-weight: bold;
      text-align: left;
    }